body {
  font-family: Arial;
  margin: 20px;
}

h1 {
  color: blue;
}

div {
  margin-bottom: 15px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.column {
  flex: 1;
  padding: 0 20px;
  text-align: left;
}

.column h2 {
  text-align: center;
}

.vertical-line {
  border-left: 4px solid green;
  height: auto;
  margin: 0;
}